extends ../layouts/common

block content 
  h1 Transactions

  if err
    .alert.alert-danger= err 
  
  each item in transactions
    if item.userId === userId
      .card.m-auto(style='width: 18rem;')
        .card-body
          h5.card-title= 'Id: ' + item._id
          p.card-text= 'User ID: ' + item.userId
          p.card-text= 'Book ID: ' + item.bookId
          p.card-text= 'Complete: ' + item.isComplete
          a.btn.btn-primary(href="/transactions/" + item._id + "/complete") Hoàn thành
      
      
      
      